{% load static %} {% load bootstrap4 %} {% load i18n %} {% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sea shell hackathons">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="{% static 'css/neumorphism.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->


	<title>Under Work</title>

  	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,600,700'>

</head>



<body>
    {% bootstrap_messages %} {% block content %} {% endblock %}
    <!-- partial:index.partial.html -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js'></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>